body {
    font-family: 'Raleway';
    height: 100%;
    margin: 0;
    background-color: #000;
}
.sun { 
    color:#FCFF00;
}
a {
    color:white; 
}
a:hover {
    text-decoration: none;
}
.layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -2;
}
.container {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}
.main {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    max-width: 350px;
}
.logo {
    margin: 2em 8px 0 8px;
    text-align: left;
}
h1 {
    font-family: 'Roboto';
    margin: 0 8px 1em 8px;
    padding-left:13px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4px;
    text-align: left;
}
p {
    margin: 24px 1em 0 1em;
    color: #ebebeB;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
}
.version {
    margin: 10em 1em 1em 1em;
    color: #ebebeB;
    font-size: 12px;
    text-align: left;
}

.nav {
    margin: 8px 8px 8px 8px;
    color: #fff;
    text-align: left;

}
.nav a {
    display: inline-block;
    margin: 0 8px;
    padding-top: 16px;
}
/* Animations */
h1, p, .nav, .logo {
    animation-name: text;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
@keyframes text {
    from {opacity: 0;}
    to {opacity: 1;}
  }
/* Ramdom pics */
.image-1, .image-2, .image-3, .image-4, .image-5, .image-6 {
    top:0;
    left:0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.image-1 {
    background-image: url(../img/1s.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1s.jpg', sizingMethod='scale')";
}
.image-2 {
    background-image: url(../img/2s.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2s.jpg', sizingMethod='scale')";
}
.image-3 {
    background-image: url(../img/3s.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/3s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/3s.jpg', sizingMethod='scale')";
}
.image-4 {
    background-image: url(https://www.13bilbao.com/img/4s.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.13bilbao.com/img/4s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.13bilbao.com/img/4s.jpg', sizingMethod='scale')";
}
.image-5 {
    background-image: url(https://www.13bilbao.com/img/5s.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.13bilbao.com/img/5s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.13bilbao.com/img/5s.jpg', sizingMethod='scale')";
}
.image-6 {
    background-image: url(https://www.13bilbao.com/img/6s.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.13bilbao.com/img/6s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.13bilbao.com/img/6s.jpg', sizingMethod='scale')";
}

@media only screen and (min-width: 601px) { 
    .image-1 {
        background-image: url(../img/1.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1.jpg', sizingMethod='scale')";
    }
    .image-2 {
        background-image: url(../img/2.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2.jpg', sizingMethod='scale')";
    }
    .image-3 {
        background-image: url(../img/3.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/3.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/3.jpg', sizingMethod='scale')";
    }
    .image-4 {
        background-image: url(../img/4.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/4.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/4.jpg', sizingMethod='scale')";
    }
    .image-5 {
        background-image: url(../img/5.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/5.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/5.jpg', sizingMethod='scale')";
    }
    .image-6 {
        background-image: url(../img/6.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/6.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/6.jpg', sizingMethod='scale')";
    }
}

.back404 {
    background: url(https://badulake.org/img/404.jpeg) no-repeat center center fixed; 
    top: 0;
    left: 0; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://badulake.org/img/.404.jpeg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://badulake.org/img/404.jpeg', sizingMethod='scale')";
}