body {
    font-family: 'Roboto', "helvetica neue", Helvetica, Arial, sans-serif;
    background-color: white;
}

.container {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.temp {
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
}

h1 {
    padding-bottom: 0.3rem;
    font-size: 32px;
    line-height: 30px;
    color: #1C242B;
    font-weight: 600;
}

p {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

a {
    color: black;
}

/* TOP */

.top__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.top__flex {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
}


/* TOP NAVIGATION */

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    border-bottom: 2px solid #fff;
}

.navigation a:hover {
    border-bottom: 2px solid #ddd;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}


/* MAIN */


/*GALLERY */

.main__gallery {
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
}

.art__item {
    margin: 10px;
    order: 3;
    flex-grow: 3;
}

.art__item img, .art__item__detail img {
    border-radius: 8px;
    border: 0.5px solid #f1f1f1;
    padding: 10px;
}

.art__description {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    justify-content: center;
}

.art__des__item {
    order: 2;
    flex-grow: 2;
    flex-flow: row nowrap;
}
.left {
    margin: 5px 0;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #353535;
    width: 170px;
    align: top;
}
.left::first-letter {
    text-transform: capitalize;
}
.art__details__link {
    display: block;
    padding-bottom: 0.3rem;
    font-size: 12px;
    line-height: 20px;
    color: #1C242B;  
}
.art__details__link a:hover {
    text-decoration: underline;
}
.right {
    margin: 10px;
    text-align: right;
    width: 135px;
}

.buy__button {
    padding: 10px 20px;
    background-color: #000;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000;
}

.buy__button:hover {
    text-decoration: none;
    background-color: white;
    border: 1px solid #000;
    color: black;
}

.sold__button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 6px;
    -moz-border-radious: 6px;
    -webkit-border-radious: 6px;
    -ms-border-radious: 6px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000;
}

/* ART DETAIL */
.art__item__detail {
    margin: 10px;
    order: 2;
    flex-grow: 2;
}
.art_item_description {
    margin: 10px;
}
.item__art__title {
    display: block;
    padding-bottom: 0.3rem;
    font-size: 32px;
    line-height: 42px;
    color: #1C242B;
    font-weight: 600;
}
.item__art__subtitle {
    display:block;
    font-size: 22px;
    line-height: 30px;
    color: #1C242B;
    font-weight: 200;
}
.art__item__deep_description {
    text-align: center;
}
.art__item__deep_description ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.art__item__deep_description li {
    font-size: 16px;
    line-height: 30px;
    color: #33393d;
}
.art__item__button {
    margin: 20px 0;
}

/* ABOUT ME */


/*
@media all and (min-width: 400px) {
    html {
        background: url(../img/icons/coffee__back.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 400px) {
    html {
        background-color: white;
    }
}*/

.main__content {
    margin: 80px 50px;
    justify-content: left;
    width: 500px;
}